@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700);

#header {
  background-color: white;
  padding-left: 15px;
  #logo {
    font-family: "Open Sans", sans-serif  !important;
    color: #66CD00                        !important;
    font-weight: bold                     !important;
    text-decoration: none                 !important;
    //   letter-spacing: 0.1em;
    &:hover {
      color: #66CD00                      !important;
      text-decoration: none               !important;
    }
  }
}

ul {
  /*padding-left: 20px;*/
  margin-top: 20px;
  list-style-type: none;
}

#ass-table {
  font-size: 18px;
  /*width: auto;*/
  max-width: 600px;
  border-top: none;
  tr, td, p {
    padding-top: 4px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  
}
  
.weight-column {
  font-size: 16px;
  padding-top: 6px                         !important;
  font-weight: bold                        !important;
  margin-left: 50px;
  width: auto;
  max-width: 100px;
  white-space: no-wrap;
}

#new-course {
  width: 400px;
}

.course-name {
  .cross {
    /*float: left;*/
    display: none;
    padding-bottom: 4px;
    i {
      color: #666;
      &:hover {
        color: #444;
      }
    }
  }
  .visible {
    display: inline-block;
  }
  h4 {
    /*float: left;*/
    display: inline-block;
  }
}
